:root {
    --main-dark: #1a1a1a;
    --main-light: #f5f5f5;
    --border: #a9a9a9;

    --island-width: 240px;
    --island-height: 40px;

    --portfolio-width: 90vw;
    --portfolio-height: 90vh;

    --transition-standard: 0.4s;
    --animation-standard: 0.8s;
}

#app {
    width: 100vw;
    height: 100vh;
    font-size: 1em;
}