.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dates {
    color: var(--border) !important;
}

.blur {
    filter: blur(10px);
}

.big-blur {
    filter: brightness(90%) blur(100px);
}

.radius {
    border-radius: 30px;
}